body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #2563eb, #9333ea);
}

.hero h1 {
  font-size: 40px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}



.about-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.about-text {
    flex: 1;
}
.section-divider {
    border: none;
    height: 1px;
    background-color: #334155;
    margin: 60px auto;
    max-width: 900px;
}
.page-header {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo {
    height: 60px;
    width: auto;
}
